.harp, .two-harps {
    background: url(assets/instruments/Harp.png);

    height: 273px;
    width: 269px;
}

.cello {
    background: url(assets/instruments/Cello.png);

    height: 406px;
    width: 251px;
}

.flute {
    background: url(assets/instruments/flute.png);

    height: 413px;
    width: 106px;
}

.piccolo {
    background: url(assets/instruments/piccolo.png);

    height: 389px;
    width: 192px;
}

.electric-guitar {
    background: url(assets/instruments/electric-guitar.png);

    height: 511px;
    width: 229px;
}

.uke {
    background: url(assets/instruments/Uklele.png);

    height: 429px;
    width: 238px;
}

.classical-guitar {
    background: url(assets/instruments/Classical-Guitar.png);

    height: 474px;
    width: 226px;
}

.banjo {
    background: url(assets/instruments/banjo.png);

    height: 481px;
    width: 208px;
}

.woodblock {
    background: url(assets/instruments/ThinWoodbLOCKS.png);

    height: 254px;
    width: 339px;
}

.b3-organ {
    background: url(assets/instruments/B-3Oragan.png);

    height: 168px;
    width: 444px;
}

.celeste {
    background: url(assets/instruments/Celesta.png);

    height: 363px;
    width: 320px;
}

.vibraphone {
    background: url(assets/instruments/Bowed-Vibraphone.png);

    height: 467px;
    width: 351px;
}

.piano {
    background: url(assets/instruments/Piano.png);

    height: 447px;
    width: 435px;
}

.violins {
    background: url(assets/instruments/Violin.png);

    height: 380px;
    width: 225px;
}

.bass {
    background: url(assets/instruments/Double-Bass.png);

    height: 487px;
    width: 296px;
}

.tubular-bells {
    background: url(assets/instruments/tubular-bells.png);

    height: 226px;
    width: 277px;
}

.glockenspiel {
    background: url(assets/instruments/glockenspiel.png);

    height: 322px;
    width: 428px;
}

.cymbal {
    background: url(assets/instruments/Ride-Cymball.png);

    height: 374px;
    width: 212px;
}

.piatti {
    background: url(assets/instruments/Piatti.png);

    height: 315px;
    width: 354px;
}

.drums {
    background: url(assets/instruments/Snare-Drums.png);

    height: 315px;
    width: 260px;
}

.gran-cassa {
    background: url(assets/instruments/Gran-Cassa.png);

    height: 245px;
    width: 210px;
}

.timpani {
    background: url(assets/instruments/Timpani.png);

    height: 465px;
    width: 205px;
}

.xylophone {
    background: url(assets/instruments/xylophone.png);

    height: 310px;
    width: 483px;
}

.bassoons {
    background: url(assets/instruments/Bassoons.png);

    height: 490px;
    width: 219px;
}

.clarinet {
    background: url(assets/instruments/Clarinet.png);

    height: 455px;
    width: 236px;
}

.french-horn {
    background: url(assets/instruments/French-Horn.png);

    height: 311px;
    width: 485px;
}

.tenor-sax {
    background: url(assets/instruments/Tenor-Sax.png);

    height: 395px;
    width: 309px;
}

.trombone {
    background: url(assets/instruments/Trombone.png);

    height: 325px;
    width: 456px;
}

.tuba {
    background: url(assets/instruments/Tuba.png);

    height: 344px;
    width: 346px;
}

.trumpets {
    background: url(assets/instruments/trumpets.png);

    height: 169px;
    width: 465px;
}

.triangle {
    background: url(assets/instruments/Triangle.png);

    height: 335px;
    width: 271px;
}

#detail.harp, #detail.two-harps {
    background: url(assets/detail/harp_detail.png);
}

#detail.cello {
    background: url(assets/detail/cello_detail.png);
}

#detail.flute {
    background: url(assets/detail/flute_detail.png);
}

#detail.piccolo {
    background: url(assets/detail/piccolo_detail.png);
}
#detail.electric-guitar {
    background: url(assets/detail/electric-guitar_detail.png);
}
#detail.uke {
    background: url(assets/detail/uke_detail.png);
}
#detail.classical-guitar {
    background: url(assets/detail/classical-guitar_detail.png);
}
#detail.banjo {
    background: url(assets/detail/banjo_detail.png);
}
#detail.woodblock {
    background: url(assets/detail/woodblock_detail.png);
}
#detail.b3-organ {
    background: url(assets/detail/b3-organ_detail.png);
}
#detail.celeste {
    background: url(assets/detail/celeste_detail.png);
}
#detail.vibraphone {
    background: url(assets/detail/vibraphone_detail.png);
}
#detail.piano {
    background: url(assets/detail/piano_detail.png);
}
#detail.violins {
    background: url(assets/detail/violins_detail.png);
}
#detail.bass {
    background: url(assets/detail/bass_detail.png);
}
#detail.tubular-bells {
    background: url(assets/detail/tubular-bells_detail.png);
}
#detail.glockenspiel {
    background: url(assets/detail/glockenspiel_detail.png);
}
#detail.cymbal {
    background: url(assets/detail/cymbal_detail.png);
}
#detail.piatti {
    background: url(assets/detail/piatti_detail.png);
}
#detail.drums {
    background: url(assets/detail/drums_detail.png);
}
#detail.gran-cassa {
    background: url(assets/detail/gran-cassa_detail.png);
}
#detail.timpani {
    background: url(assets/detail/timpani_detail.png);
}
#detail.xylophone {
    background: url(assets/detail/xylophone_detail.png);
}
#detail.bassoons {
    background: url(assets/detail/bassoons_detail.png);
}
#detail.clarinet {
    background: url(assets/detail/clarinet_detail.png);
}
#detail.french-horn {
    background: url(assets/detail/french-horn_detail.png);
}
#detail.tenor-sax {
    background: url(assets/detail/tenor-sax_detail.png);
}
#detail.trombone {
    background: url(assets/detail/trombone_detail.png);
}
#detail.tuba {
    background: url(assets/detail/tuba_detail.png);
}
#detail.trumpets {
    background: url(assets/detail/trumpets_detail.png);
}
#detail.triangle {
    background: url(assets/detail/triangle_detail.png);
}


#detail {
    background-size: contain !important;
    -moz-background-size: contain !important;
    background-repeat: no-repeat !important;
}
