* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main-container {
    height: 100%;
    width: 100%;
}

.splash {
    margin: auto;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;

    background: url(assets/title.png) no-repeat center center;
    background-position: top;
    width: 800px;
    height: 400px;
    text-align: center;

    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.splash.playing {
    height: 100%;

    opacity: 0.5;
}

.splash button {
    display: none;

    z-index: 10;
    background: url(assets/play.gif) no-repeat center center;
    border: none;
    outline: none;

    margin-top: 160px;
    width: 100px;
    height: 103px;
    border-radius: 50px;

    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.splash button:hover {
    cursor: pointer;
}

.splash.playing button {
    cursor: default;
    opacity: 0;
}

.title {
    position: absolute;
    z-index: -2;

    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;

    height: 200px;
    width: 667px;
}

.title div {
    opacity: 0;

    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;

}

#two {
    background: url(assets/title2.png) no-repeat center center;

    width: 667px;
    height: 105px;
}

#three {
    background: url(assets/title3.png) no-repeat center center;

    width: 667px;
    height: 46px;
}

.title .playing {
    opacity: 1;
}

#stop {
    background: url(assets/stop.gif) no-repeat center center;
    position: absolute;
    bottom: 6px;
    right: 6px;
    border: none;
    outline: none;


    width: 80px;
    height: 82px;
    border-radius: 40px;
    opacity: 0;

    -webkit-transition-duration: 2000ms;
    -moz-transition-duration: 2000ms;
    -o-transition-duration: 2000ms;
    transition-duration: 2000ms;
}

#stop.playing {
    opacity: 0.7;
    cursor: pointer;
}

#stop.playing:hover {
    opacity: 1;

    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
}

.inst {
    position: absolute;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;

    top: 100%;
}

.inst.foreground {
    z-index: 200;
}

.harp, .two-harps {
    background: url(assets/instruments/Harp.png);

    height: 273px;
    width: 269px;
}

.cello {
    background: url(assets/instruments/Cello.png);

    height: 406px;
    width: 185px;
}

.flute {
    background: url(assets/instruments/flute.png);

    height: 413px;
    width: 106px;
}

.piccolo {
    background: url(assets/instruments/piccolo.png);

    height: 389px;
    width: 192px;
}

.electric-guitar {
    background: url(assets/instruments/electric-guitar.png);

    height: 448px;
    width: 160px;
}

.uke {
    background: url(assets/instruments/Uklele.png);

    height: 485px;
    width: 268px;
}

.classical-guitar {
    background: url(assets/instruments/Classical-Guitar.png);

    height: 474px;
    width: 226px;
}

.banjo {
    background: url(assets/instruments/banjo.png);

    height: 481px;
    width: 208px;
}

.woodblock {
    background: url(assets/instruments/ThinWoodbLOCKS.png);

    height: 302px;
    width: 405px;
}

.b3-organ {
    background: url(assets/instruments/B-3Oragan.png);

    height: 208px;
    width: 481px;
}

.celeste {
    background: url(assets/instruments/Celesta.png);

    height: 363px;
    width: 320px;
}

.vibraphone {
    background: url(assets/instruments/Bowed-Vibraphone.png);

    height: 467px;
    width: 351px;
}

.piano {
    background: url(assets/instruments/Piano.png);

    height: 447px;
    width: 435px;
}

.violins {
    background: url(assets/instruments/Violin.png);

    height: 380px;
    width: 225px;
}

.bass {
}

.tubular-bells {
    background: url(assets/instruments/tubular-bells.png);

    height: 300px;
    width: 369px;
}

.glockenspiel {
    background: url(assets/instruments/glockenspiel.png);

    height: 322px;
    width: 428px;
}

.cymbal {
    background: url(assets/instruments/Ride-Cymball.png);

    height: 374px;
    width: 212px;
}

.piatti {
    background: url(assets/instruments/Piatti.png);

    height: 395px;
    width: 432px;
}

.drums {
    background: url(assets/instruments/Snare-Drums.png);

    height: 315px;
    width: 260px;
}

.gran-cassa {
}

.timpani {
    background: url(assets/instruments/Timpani.png);

    height: 521px;
    width: 230px;
}

.xylophone {
    background: url(assets/instruments/glockenspiel.png);

    height: 322px;
    width: 428px;
}

.bassoons {
    background: url(assets/instruments/Bassoons.png);

    height: 531px;
    width: 229px;
}

.clarinet {
    background: url(assets/instruments/Clarinet.png);

    height: 379px;
    width: 426px;
}

.french-horn {
    background: url(assets/instruments/French-Horn.png);

    height: 311px;
    width: 485px;
}

.tenor-sax {
    background: url(assets/instruments/Tenor-Sax.png);

    height: 372px;
    width: 384px;
}

.trombone {
    background: url(assets/instruments/Trombone.png);

    height: 377px;
    width: 534px;
}

.tuba {
    background: url(assets/instruments/Tuba.png);

    height: 344px;
    width: 346px;
}

.trumpets {
    background: url(assets/instruments/trumpets.png);

    height: 199px;
    width: 564px;
}

.triangle {
    background: url(assets/instruments/Triangle.png);

    height: 400px;
    width: 329px;
}
