* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main-container {
    height: 100%;
    width: 100%;
}

#main-container.paused {
    //background-color: #ccc;
}

.splash {
    margin: auto;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;

    background: url(assets/title.png) no-repeat center center;
    background-position: top;
    width: 800px;
    height: 400px;
    text-align: center;

    /*-webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;*/

    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.splash.playing {
    height: 100%;

    opacity: 0.5;
}

.splash button {
    z-index: 10;
    background: url(assets/play.gif) no-repeat center center;
    border: none;
    outline: none;

    margin-top: 160px;
    width: 100px;
    height: 103px;
    border-radius: 50px;

    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.splash button:hover {
    cursor: pointer;
}

.splash.playing button {
    cursor: default;
    opacity: 0;
}

#stop {
    background: url(assets/stop.gif) no-repeat center center;
    position: absolute;
    bottom: 6px;
    right: 6px;
    border: none;
    outline: none;


    width: 80px;
    height: 82px;
    border-radius: 40px;
    opacity: 0;

    -webkit-transition-duration: 2000ms;
    -moz-transition-duration: 2000ms;
    -o-transition-duration: 2000ms;
    transition-duration: 2000ms;
}

#stop.playing {
    opacity: 0.7;
    cursor: pointer;
}

#stop.playing:hover {
    opacity: 1;

    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;

}

.inst {
    top: 810px;
    position: absolute;
    cursor: pointer;
}

.harp {
    background: url(assets/instruments/Harp.png) no-repeat center center;

    height: 273px;
    width: 269px;
}

.cello {
    background: url(assets/instruments/Cello.png) no-repeat center center;
    top: 1000px;
    left: 600px;

    height: 406px;
    width: 185px;
}
